#Education {
  background-color: #181a18;
  color: #e1e1e1;
  padding: 5%;
  .description {
    margin-top: 2%;
    margin-left: -5%;
    margin-right: -5%;
    p {
      width: 80%;
    }
    li {
      padding: 1em 0;
    }
  }
}
