#Education {
  width: 800px;
  margin: auto;
  padding: 100px 0;
  animation: fadeInUp 1s;

  hr {
    width: 100%;
  }

  .card {
    background-color: transparent;
  }
}

@media screen and (max-width: 900px) {
  #Education {
    margin-left: 30px;
    margin-right: 30px;
    width: auto;

    .nav {
      padding-bottom: 30px;
      color: #e1e1e1;
    }
  }
}
