.text-animate {
  display: inline-block;
  opacity: 0;
  animation: bounceIn 1s 1s;
  animation-fill-mode: forwards;
}

.text-animate-hover {
  display: inline-block;
  animation-fill-mode: both;
  width: auto;

  &:hover {
    animation: rubberBand 1s;
    color: #bf40bf;
  }
}

@for $i from 0 through 40 {
  .text-animate._#{$i} {
    animation-delay: #{$i / 10}s;
  }
}
