#Title {
  background-color: #181a18;
  position: fixed;
  width: 100%;
  margin-top: -2.5rem;
  z-index: 100;

  .navbar {
    padding: 0;
  }

  .container-fluid {
    padding: 0;

    .navbar-toggler {
      margin-top: 2.5rem;
      margin-right: 1rem;
      color: white;
      background-color: #e1e1e1;
    }

    a {
      padding: 0;
      margin: 0;
    }

    img {

      width: 6rem;
      -webkit-filter: invert(0.75);
      filter: invert(0.75);
      transition: filter 1s ease-in;
      transform: translateY(0.5rem);

      &:hover {
        animation: heartBeat 1s;
        filter: invert(73%) sepia(96%) saturate(389%) hue-rotate(352deg)
          brightness(101%) contrast(98%); // #fcd12a
      }
    }

    .list {
      margin-top: 2.5rem;
    }

    @media screen and (max-width:768px) {
      .list {
        margin-top: 0rem;
      }
    }

    .item {
      text-decoration: none;
      color: #e1e1e1;

      padding: 0.5rem 2rem;
      position: relative;

      &:hover {
        color: #fcd12a;
        font-size: bold;

        text-decoration: underline 2px;
        text-underline-offset: 0.5rem;
      }
    }
  }
}
