.Layout {
  // position: absolute;
  background-color: whitesmoke;
  width: 10rem;
  height: 100%;

  nav {
    position: absolute;
    display: block;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;

    img {
      display: block;
      margin: auto;
      width: 2rem;
      // padding-top: 5rem;
      margin-top: 5rem;
      transition: all 0.3s ease-out;
    }

    a {
      &:hover {
        img {
          opacity: 0;
        }

        &:after {
          opacity: 1;
        }
      }

      &:after {
        content: "Hello!";
        position: absolute;
        margin-top: -2rem;
        display: block;
        color: #bf40bf;
        font-size: 1.5rem;
        letter-spacing: 2px;
        text-align: center;
        width: 100%;
        opacity: 0;

        transition: all 0.3s ease-in;
      }
    }

    .home-icon::after {
      content: "HOME";
    }

    .about-icon::after {
      content: "ABOUT";
    }

    .blog-icon::after {
      content: "BLOG";
    }
  }

  ul {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    margin: auto;
    li {
      margin: 3rem;
    }
    img {
      width: 1.5rem;
    }
  }
}
