#Home {
  background-color: #181a18;
  color: #e1e1e1;
  padding-top: 5rem;
  padding-bottom: 3rem;
  margin: auto;
  transition: margin-top 0.5s ease;

  .intro-text {
    text-align: center;
  }
  h1 {
    letter-spacing: 5px;
    margin-bottom: 2rem;
    word-break: break-all;

    &::after {
      content: "|";
      animation: flickerAnimation 0.8s infinite;
    }
  }

  @keyframes flickerAnimation {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }

  h2 {
    opacity: 0;
    animation: forwards fadeInDown 0.2s 2.5s;
    transition: color 0.5s;

    &:hover {
      color: #E4A0F7;
    }
  }

  .anime {
    display: inline-block;

    &:hover {
      color: #fcd12a;
      animation: rubberBand 0.5s;
    }
  }
}
