#Home {
  background-color: #181a18;
  color: #e1e1e1;
  padding-top: 5rem;
  padding-bottom: 3rem;
  margin: auto;
  // padding: 0;
  height: 100vh;
  margin: auto;

  transition: height 0.3s ease;

  .intro-text {
    text-align: center;
  }
  h1 {
    letter-spacing: 5px;
    margin-bottom: 2rem;

    &::after {
      content: "|";
      animation: flickerAnimation 0.8s infinite;
    }
  }

  @keyframes flickerAnimation {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }

  span {
    animation: rubberBand 0.5s 0.1s;
  }

  h2 {
    opacity: 0;
    animation: forwards fadeInDown 0.2s 1.5s;

  }
}
