#Home {
  // position: fixed;
  // left: 0;
  // right: 0;

  background-color: #181a18;
  color: #e1e1e1;
  // text-align: center;
  // padding: rem 0;
  padding-bottom: 3rem;
  .intro-text {
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    position: block;
  }
  h1 {
    letter-spacing: 5px;
    margin-bottom: 2rem;
    // position: block;
  }

//   @keyframes animated-text {
//     from {
//       width: 0;
//     }
//     to {
//       width: 472px;
//     }
//   }

  //   /* cursor animations */

  //   @keyframes animated-cursor {
  //     from {
  //       border-right-color: rgba(0, 255, 0, 0.75);
  //     }
  //     to {
  //       border-right-color: transparent;
  //     }
  //   }
}
